// Button
@use "../../../node_modules/@material/button/styles.scss";

// TextField
@use "../../../node_modules/@material/floating-label/mdc-floating-label.scss";
@use "../../../node_modules/@material/line-ripple/mdc-line-ripple.scss";
@use "../../../node_modules/@material/notched-outline/mdc-notched-outline.scss";
@use "../../../node_modules/@material/textfield";

@include textfield.core-styles;


@import "./conponents/layouts.scss";
@import "./conponents/button.scss";


body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
